.tweetsListItemContentContainer{
    position: relative;
    padding-top: 62px;
}
.contentContainer{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.rectangle{
    width: 100%;
    width: 356px;
    height: 8px;
    left: 0;
    position: absolute;
    background: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
}
.ellipse{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -45px;
    left: 110px;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 8px solid #EBD8FF;
    border-radius: 50px;
    box-shadow: inset 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -0.71846px 3.43693px #AE7BE3, inset 0px 0.43693px 2.5777px #FBF8FF;
    background: #5736A3;
}
.tweetsList{
    display: grid;
    gap: 20px;
    padding: 60px 0 60px;
}
.tweetsListItem{
    padding: 20px;
    width: 316px;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    position: relative;
}
.icon{
    position: absolute;
    left: 20px;
}
.tweetsListItemImage{
    border-radius: 50px;
}
.tweetsListItemTitle,
.tweetsListItemText{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #EBD8FF;
    font-size: 20px;
    line-height: 1.2;
}
.tweetsListItemTitle{
    margin-bottom: 16px;
}
.tweetsListItemText{
    margin-bottom: 26px;
}
.activeClassName{
    margin-bottom: 16px;
    text-transform: uppercase;
    padding: 14px 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #373737;
    background: #5CD3A8;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10.3108px;
    cursor: pointer;
}
.notActiveClassName{
    margin-bottom: 16px;
    text-transform: uppercase;
    padding: 14px 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #373737;
    background: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10.3108px;
    cursor: pointer;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btnPrevious, 
.btnNext{
    background: #4B2A99;
    padding: 12px 36px;
    border: none;
    border-radius: 19px;
    color: #fff;
    cursor: pointer;
}
.btnPrevious:disabled, 
.btnNext:disabled{
    background-color: gray;
}
@media screen and (min-width:320px){
    .tweetsList{
        grid-template-columns: repeat(1,1fr);
    }
    .tweetsListItem{
        width: 280px;
    }
    .rectangle{
        width: 100%;
    }
    .image{
        width: 280px;
    }
    .ellipse{
        left: 90px;
    }
    .btnPrevious, .btnNext{
        font-size: 16px;
    }
}
@media screen and (min-width:768px){
    .tweetsList{
        grid-template-columns: repeat(2,1fr);
    }
    .btnPrevious, .btnNext{
        font-size: 18px;
    }
    .tweetsListItem{
        width: 290px;
    }
    .image{
        width: 290px;
    }
}
@media screen and (min-width:1200px){
    .tweetsList{
        grid-template-columns: repeat(3,1fr);
    }
    .btnPrevious, .btnNext{
        font-size: 20px;
    }
    .tweetsListItem{
        width: 320px;
    }
    .image{
        width: 320px;
    }
}

.toggleBtnContainer{
    height: 137px;
}
.toggleBtn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: #fff;
    border: none;
    border-radius: 19px;
    padding: 12px 36px;
    color: #4B2A99;
    cursor: pointer;
}
.optionsList{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 4px;
}
.optionsListBtn{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    color: #4B2A99;
    background: #fff;
    border: none;
    padding: 6px 18px;
    border-radius: 15px;
    cursor: pointer;
}